// Colors here
$c-primary: #367bf5;

$c-default: #5e6366;

$shadow-primary: 0px 4px 8px rgba(54, 123, 245, 0.16),
  0px 2px 4px rgba(54, 123, 245, 0.24);

$shadow-default: 0px 2px 6px rgba(8, 35, 48, 0.16),
  0px 1px 2px rgba(8, 35, 48, 0.24);
